html,
body {
    margin: 0px;
    height: 100%;
}

.white_background {
    display: flex;
    flex: 'flex-grow' 'flex-shrink';
    height: 100%;
    width: 100%;
    margin: 5px;
}


.green {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(43,215,30,255);
    border-width: 6px;
    box-shadow: inset   5px 5px 5px -3px #727272, 
                        5px 5px 5px -3px #727272; 
    background-color: rgba(255, 255, 255, 0);
    margin: 5px;
}

.red {
    display: flex;
    padding: 5px;
    margin: 15px;
    border: ridge rgba(244,78,69,255);
    border-width: 6px;
    box-shadow: inset   5px 5px 5px -3px #727272, 
                        5px 5px 5px -3px #727272;      
    background-color: rgba(255, 255, 255, 0);
}

.first {
    height: 18%;
}

.second {
    height: 9%;
}

.third {
    height: 55%;
}

.fourth {
    height: 18%;
}

.blue {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction:column;
    padding: 5px;
    margin: 15px;
    border: ridge rgba(22,144,222,255);
    border-width: 6px;
    box-shadow: inset   5px 5px 5px -3px #727272, 
                        5px 5px 5px -3px #727272;
    flex-grow:1
}

.blue.left {
    margin-right: 2px;
    flex: 0 1 24%;
}

.center {
    margin-left: 2px;
    margin-right: 2px;
}

.blue.right {
    margin-left: 2px;
    flex: 0 1 24%;
}

.first_middle {
    margin-left: 2px;
    margin-right: 0px;
    flex: 0 1 26%;
}

.second_middle {
    margin-left: 0px;
    margin-right: 2px;
    flex: 0 1 26%;
}

.blue.small {
    flex: 0 1 24%;
    margin-right: 2px;
}

.blue.big {
    flex: 0 1 76%;
    margin-left: 2px;
}

.yellow {
    box-shadow: inset   5px 5px 5px -3px #727272, 
                        5px 5px 5px -3px #727272;
}

.yellow.small {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;    
}

.yellow.small.top {
    margin-bottom: 2px;
}

.yellow.small.bottom {
    margin-top: 2px;
}

.yellow.big {
    display: flex;
    flex: 0 1 85%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;   
}
.yellow.middle {
    display: flex;
    flex: 0 1 15%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;
}