.green {
    display: flex;
    flex-direction:column;
    padding: 5px;
    border: ridge rgba(25,212,18,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}

.red {
    display: flex;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(204,33,31,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}

.blue {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(35,129,202,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}

div.red.3rd {
    display: flex;
    flex: 1 1 auto;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(35,129,202,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}