html,
body {
    margin: 0px;
    height: 100%;
}

.white_background {
    height: 100vh;
    margin: 5px;
}


.green {
    display: flex;
    flex-direction:column;
    padding: 5px;
    border: ridge rgba(25,212,18,255);
    border-width: 6px;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    margin: 5px;
}

.red {
    display: flex;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(204,33,31,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}

.first {
    height: 20%;
}

.second {
    height: 10%;
}

.third {
    height: 50%;
}

.fourth {
    height: 20%;
}

.blue {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(35,129,202,255);
    border-width: 6px;
    flex-grow:1
}

.yellow.small {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;    
}
.big {
    display: flex;
    flex: 0 1 70%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;   
}
.middle {
    display: flex;
    flex: 0 1 30%;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(253,233,73,255);
    border-width: 6px;
}

/*div.red {
    display: flex;
    flex: 1 1 auto;
    flex-direction:column;
    padding: 5px;
    margin: 5px;
    border: ridge rgba(35,129,202,255);
    border-width: 6px;
       
    background-color: rgba(255, 255, 255, 0);
}*/